[submodule "packages/i18n"]
	path = packages/i18n
	url = git@github.com:strictly-lang/i18n.git
[submodule "packages/router"]
	path = packages/router
	url = git@github.com:strictly-lang/router.git
[submodule "packages/compiler"]
	path = packages/compiler
	url = git@github.com:strictly-lang/compiler.git
[submodule "packages/vscode-plugin"]
	path = packages/vscode-plugin
	url = git@github.com:strictly-lang/vscode-plugin.git
[submodule "packages/snowpack-plugin"]
	path = packages/snowpack-plugin
	url = git@github.com:strictly-lang/snowpack-plugin.git
[submodule "packages/cli"]
	path = packages/cli
	url = git@github.com:strictly-lang/cli.git
